body {
  margin: 0px;
  padding: 0px;
  background-color: #5ad678;
}
#pass {
  position: relative;
  left: 75px;
  bottom: -210px;
}
#pass label {
  font-weight: bold;
}
#pass button {
  border-radius: 7px;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  color: black;
  background-color: cornflowerblue;
}
